html{
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica Neue;
	font-weight: bold;
	font-size: larger;
	overflow: hidden;
	background-image: url(metal1.jpg);
}


.calc{
	display: grid;
	grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/
					1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	padding: 10px;
	width: 30vw;
	height: 60vh;
	background-color: #65737E;
	border-radius: 3px;
	box-shadow: 3px 3px 2px #505c64;



}

.calc_elem{
	color: white;
	text-align: center;
	background-color: #272727;
	border-radius: 5px;
	font-size: large;

}

button{
	border: none;
	box-shadow: 3px 3px 3px #32393f; 
	
}

button:hover{
	cursor: pointer;
	box-shadow: 2px 2px 3px #a2abb1;
}

#display{
	display: flex;
	grid-column-start: 1;
	grid-column-end: 5;
	color: #272727;
	background-color: white;
	align-items: center;
	justify-content: right;
	font-size: 2em;
	padding-right: 10px;


}

#clear{
	grid-column-start: 1;
	grid-column-end: 3;

}

#zero{
	grid-column-start: 1;
	grid-column-end: 3;
}

#equals{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 7;
}

@media only screen and (max-width: 650px) {
	body{
		overflow: hidden;
		margin: 0;
	}
	.calc{
		height: 80vh;
		width:  80vw;


	}
}

